<app-header></app-header>

<main class="main apresentacao">
    <section class="apresentacao__conteudo">
      <h1 class="apresentacao__conteudo__titulo ff-krona-one">Impulsione seu negócio digital <strong class="destaque-titulo">com um Front-end profissional!</strong></h1>
      <p class="apresentacao__conteudo__texto ff-montserrat">Sou Jhonatas Magalhães, um desenvolvedor Front-end com expertise em Angular, HTML e CSS. Ajudo pequenos negócios e designers a darem vida às suas melhores ideias. Vamos conversar?</p>
      <div class="apresentacao__links ff-montserrat">
        <h2 class="apresentacao_links_subtitulo ff-krona-one">Conecte-se comigo:</h2>
        <a class="apresentacao__links__navegacao" href="https://github.com/jhonsoad">
          <img src="../../../assets/HTML_CSS/github.png" alt="">
          GitHub
        </a>
        <a class="apresentacao__links__navegacao" href="https://linkedin.com/in/jhonatas-magalhaes">
          <img src="../../../assets/HTML_CSS/linkedin.png" alt="">
          Linkedin
        </a>
        <a class="apresentacao__links__navegacao" href="https://twitch.tv/jhonsoad">
          <img src="../../../assets/HTML_CSS/twitch.png" alt="">
          Twitch
        </a>
      </div>
    </section>
    <img class="apresentacao__imagem" src="../../../assets/HTML_CSS/jhon-praia.jpg" alt="foto preto e branco de um notebook aberto e um smartphone ao lado">
</main>

<app-footer></app-footer>