<footer class="rodape">
    <div class="container">

      <img src="../../../../../assets/acessibilidade-web/logo-apeperia.svg" class="rodape-logo" alt="Logotipo Apeperia">

      <ul class="rodape-social">
        <li>
          <a href="#" class="rodape-social-link rodape-social-link--facebook">
            Facebook da Apeperia
          </a>
        </li>
        <li>
          <a href="#" class="rodape-social-link rodape-social-link--twitter">
            Twitter da Apeperia
          </a>
        </li>
        <li>
          <a href="#" class="rodape-social-link rodape-social-link--instagram">
            Instagram da Apeperia
          </a>
        </li>
      </ul>

      <nav class="rodape-nav">
        <ul>
          <li class="rodape-nav-item"><a href="#" class="rodape-nav-link">Sobre</a></li>
          <li class="rodape-nav-item"><a href="#" class="rodape-nav-link">Planos</a></li>
          <li class="rodape-nav-item"><a href="#" class="rodape-nav-link">Blog</a></li>
          <li class="rodape-nav-item"><a href="#" class="rodape-nav-link">Destaques</a></li>
          <li class="rodape-nav-item"><a href="#" class="rodape-nav-link">Institucional</a></li>
          <li class="rodape-nav-item"><a href="#" class="rodape-nav-link">Contato</a></li>
        </ul>  
      </nav>
    </div>

  </footer>