<section class="secaoInstitucional">
    <div class="container">
      <h2 class="tituloPadrao">
        INSTITUCIONAL
      </h2>

      <div class="secaoInstitucional-coluna">
        <p>
          Um pouco mais sobre a Apeperia
        </p>
        <p class="secaoInstitucional-endereco">
          Rua Vergueiro, 3185 <br> Vila Mariana, São Paulo
        </p>
        <p class="secaoInstitucional-telefone">
          (11) 5571-2751 ou <a href="#">contatoApeperia</a>
        </p>
      </div>

      <video src="../../../assets/acessibilidade-web/formacao-java.mp4" class="secaoInstitucional-video" controls>
        <track src="../../../assets/acessibilidade-web/legenda-portugues-brasil.vtt" kind="subtitles" srclang="pt-br" label="Português (Brasil)">
      </video>

    </div>
  </section> <!--fim .secaoInstitucional-->