<section class="secaoBlog container">
    <h2 class="secaoBlog-titulo tituloPadrao">
      BLOG
    </h2>

    <ul class="listaDeArtigos">

      <li id="new0" class="listaDeArtigos-item">
        <article class="listaDeArtigos-artigo">
          <img src="../../../assets/acessibilidade-web/10-aplicativos-mais-baixados.png" class="listaDeArtigos-artigo-img" alt="Teclado da Apple e um celular Android">
          <h3 class="listaDeArtigos-artigo-titulo">
            Conheça os 10 aplicativos mais badalados do momento
          </h3>
          <p>
            Listamos nesta semana alguns aplicativos que estão se destacando no mundo inteiro e merecem a sua atenção. Agora, mostramos os 10 apps mais badalados do momento e por que eles estão ganhando destaque.
            <a href="#" class="listaDeArtigos-artigo-link">
              Continuar lendo o post 1
            </a>
          </p>
        </article>
      </li>

      <li id="new1" class="listaDeArtigos-item">
        <article class="listaDeArtigos-artigo">
          <img src="../../../assets/acessibilidade-web/ux-usabilidade.jpg" class="listaDeArtigos-artigo-img" alt="Pessoa segurando um celular">
          <h3 class="listaDeArtigos-artigo-titulo">
            Usabilidade: Entenda os benefícios de treinar sua equipe em UX
          </h3>
          <p>
            Vamos imaginar a seguinte situação: o time de desenvolvedores da sua empresa dedicou bastante tempo à criação de um novo software, e agora ele está tecnicamente perfeito, pronto para ser vendido.
            <a href="#" class="listaDeArtigos-artigo-link">
              Continuar lendo o post 2
            </a>
          </p>
        </article>
      </li>

      <li id="new2" class="listaDeArtigos-item">
        <article class="listaDeArtigos-artigo">
          <img src="../../../assets/acessibilidade-web/dicas-acessibilidade.jpg" class="listaDeArtigos-artigo-img" alt="Pessoas levantando um senhor para ver melhor um show">
          <h3 class="listaDeArtigos-artigo-titulo">
            5 dicas para melhorar a acessibilidade em sua interface
          </h3>
          <p>
            Será que acessibilidade é algo tão complicado que vale a pena eu abrir mão de 25% dos meus usuários? Acessibilidade normalmente é um algo não muito aplicado por aí, falta de informação talvez? 
            <a href="#" class="listaDeArtigos-artigo-link">
              Continuar lendo o post 3
            </a>
          </p>
        </article>
      </li>

    </ul>

    <nav>
      <ul class="listaDeArtigos-slider" #sliderList>
        <li>
          <a href="#new0" (click)="carosselJs(0)" data-sliderItem="0"
          [ngClass]="{ 'listaDeArtigos-slider-item--ativo': botaoAtivo === 0 }"
           class="listaDeArtigos-slider-item">
            Notícia 1
          </a>
        </li>
        <li>
          <a href="#new1" (click)="carosselJs(1)" data-sliderItem="1"
          [ngClass]="{ 'listaDeArtigos-slider-item--ativo': botaoAtivo === 1 }"
           class="listaDeArtigos-slider-item">
            Notícia 2
          </a>
        </li>
        <li>
          <a href="#new2" (click)="carosselJs(2)" data-sliderItem="2"
          [ngClass]="{ 'listaDeArtigos-slider-item--ativo': botaoAtivo === 2 }"
           class="listaDeArtigos-slider-item">
            Notícia 3
          </a>
        </li>
      </ul>
    </nav>

  </section> <!--fim .secaoBlog-->