  <div style="display: flex; flex-direction: column;">
    <a href="#conteudoPrincipal" class="pularNavegacao">Pular para conteúdo principal</a>
    <div class="secaoDestaque">
      <app-header-a11y></app-header-a11y>
      <app-highlight-a11y></app-highlight-a11y>
    </div>

    <app-differential-a11y></app-differential-a11y>

    <app-about-a11y></app-about-a11y>

    <app-plans-a11y></app-plans-a11y>

    <app-blog-a11y></app-blog-a11y>

    <app-highlights-a11y></app-highlights-a11y>

    <app-contact-a11y></app-contact-a11y>

    <app-institutional-a11y></app-institutional-a11y>
    
    <app-footer-a11y></app-footer-a11y>
  </div>