<section class="secaoSobre clearfix">
    <div class="container">
      <img src="../../../assets/acessibilidade-web/sobre-apeperia.png" class="secaoSobre-imgDestaque" alt="Dois homens concentrados idealizando um projeto novo em frente um quadro branco">
      <h2 class="secaoSobre-titulo tituloPadrao">
        SOBRE
      </h2>
      <p class="secaoSobre-texto">
        Criamos aplicativos personalizados de maneira diferente e para <b>todas as pessoas</b>!
      </p>
      <p class="secaoSobre-texto">
        Preocupados com o modelo atual em que um aplicativo é criado entregue e a manutenção é vista como um custo extra para o cliente, decidimos criar um novo modelo de negócio, em que você assina nosso serviço, nós criamos o aplicativo e a manutenção já é inclusa no serviço. Dessa maneira você não se preocupa com atualização, é tudo por nossa conta.
      </p>
      <p class="secaoSobre-texto">
        <b>
          Contamos com uma equipe especializada e exclusiva para projetos incríveis!
        </b>
      </p>

      <ul class="secaoSobre-plataformas">
        <li><img src="../../../assets/acessibilidade-web/android.png" alt="Android"></li>
        <li><img src="../../../assets/acessibilidade-web/blackberry.png" alt="Blackberry"></li>
        <li><img src="../../../assets/acessibilidade-web/apple.png" alt="iOS"></li>
        <li><img src="../../../assets/acessibilidade-web/windowsphone.png" alt="Windows Phone"></li>
      </ul>
      <p>
        Desenvolvemos aplicativos para todas as plataformas
      </p>
    </div>
  </section> <!--fim .secaoSobre-->