
<div class="pagina">
  <header class="cabecalho">
    <nav class="cabecalho__menu">
      <a class="cabecalho__menu__link ff-montserrat" routerLink="/">Home</a>
      <a class="cabecalho__menu__link ff-montserrat" routerLink="/sobre">Sobre mim</a>
    </nav>
  </header>
  <main class="apresentacao">
    <section class="apresentacao__conteudo">
      <h1 class="apresentacao__conteudo__titulo ff-krona-one">Eleve seu negócio digital a outro nível <strong class="destaque-titulo">com um Front-end de qualidade!</strong></h1>
      <p class="apresentacao__conteudo__texto ff-montserrat">Olá! Sou Jhonatas Magalhães, desenvolvedor Front-end com especialidade em Angular, HTML e CSS. Ajudo pequenos negócios e designers a colocarem em prática boas ideias. Vamos conversar?</p>
      <div class="apresentacao__links ff-montserrat">
        <h2 class="apresentacao_links_subtitulo ff-krona-one">Acesse minhas redes:</h2>
        <a class="apresentacao__links__navegacao" href="https://github.com/jhonsoad">
          <img src="../../../assets/imagens/HTML_CSS/github.png" alt="">
          GitHub
        </a>
        <a class="apresentacao__links__navegacao" href="https://linkedin.com/in/jhonatas-magalhaes">
          <img src="../../../assets/imagens/HTML_CSS/linkedin.png" alt="">
          Linkedin
        </a>
        <a class="apresentacao__links__navegacao" href="https://twitch.tv/jhonsoad">
          <img src="../../../assets/imagens/HTML_CSS/twitch.png" alt="">
          Twitch
        </a>
      </div>
    </section>
    <img class="apresentacao__imagem" src="../../../assets/imagens/HTML_CSS/photo_2023-05-20_14-31-01.jpg" alt="foto preto e branco de um notebook aberto e um smartphone ao lado">
  </main>
  <footer class="rodape ff-montserrat">
    <p>Desenvolvido por Alura.</p>
  </footer>
</div>


