<div class="profile-container">
  <header class="profile-header">
    <h1>Perfil do Usuário</h1>
  </header>
  <section class="profile-details">
    <div class="profile-item">
      <span class="label">Nome:</span>
      <span class="value">Jhonatas Barbosa Magalhães</span>
    </div>
    <div class="profile-item">
      <span class="label">Idade:</span>
      <span class="value">33 anos</span>
    </div>
    <div class="profile-item">
      <span class="label">sexo:</span>
      <span class="value">Masculino</span>
    </div>
    <div class="profile-item">
      <span class="label">Profissão:</span>
      <span class="value">Engenheiro de Software</span>
    </div>
  </section>
</div>