@use '../../styles.scss' as *;

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: $profile-background-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px $box-shadow-color;
  max-width: 600px;
  margin: auto;
  border: 2px solid $profile-header-color;
}

.profile-header {
  margin-bottom: 20px;
  color: $profile-header-color;
  text-transform: uppercase;
  font-size: 22px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.profile-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: $profile-item-background-color;
  border: 1px solid $profile-border-color;
  border-radius: 4px;
  box-shadow: 0 2px 4px $box-shadow-color;
  color: $profile-value-color;
}

.label {
  font-weight: bold;
  color: $profile-label-color;
}

.value {
  color: $profile-value-color;
}
