<section class="secaoDiferenciais">
    <div class="container">
      <ul class="diferenciais">
        <li class="diferenciais-diferencial">
          <h2 class="diferenciais-diferencial-titulo diferenciais-diferencial-titulo--tempo">
            Tempo
          </h2>
          <p class="diferenciais-diferencial-texto">
            Tempo é importante! Trabalhamos em ritmo acelerado, atendendo rigorosamente os prazos.
          </p>
        </li>
        <li class="diferenciais-diferencial">
          <h2 class="diferenciais-diferencial-titulo diferenciais-diferencial-titulo--foco">
            Foco
          </h2>
          <p class="diferenciais-diferencial-texto">
            Focado no empreendedor, oferecemos serviços de qualidade com preços acessíveis.
          </p>
        </li>
        <li class="diferenciais-diferencial">
          <h2 class="diferenciais-diferencial-titulo diferenciais-diferencial-titulo--especialistas">
            Especialistas
          </h2>
          <p class="diferenciais-diferencial-texto">
            Equipe especializada, com experiência profissionais. Testamos todos os produtos antes do lançamento.
          </p>
        </li>
      </ul>
    </div>
  </section> <!--fim .secaoDiferenciais-->