<section class="secaoPlanos">
    <div class="container">
      <h2 class="secaoPlanos-titulo tituloPadrao">
        PLANOS
      </h2>

      <div class="secaoPlanos-plano secaoPlanos-plano--start">
        <h3 class="secaoPlanos-plano-titulo">Start</h3>
        <h4 class="secaoPlanos-plano-preco">
          R$ 500
        </h4>
        <ul class="secaoPlanos-plano-itens">
          <li>5 manutenções mensais</li>
          <li>App SEO</li>
          <li>1 sistema operacional</li>
        </ul>
        <a href="#" class="btnPadrao secaoPlanos-plano-btn">
          Assinar plano
        </a>
      </div>

      <div class="secaoPlanos-plano secaoPlanos-plano--ultra">
        <h3 class="secaoPlanos-plano-titulo">Ultra</h3>
        <h4 class="secaoPlanos-plano-preco">
          R$ 1500
        </h4>
        <ul class="secaoPlanos-plano-itens">
          <li>20 manutenções mensais</li>
          <li>App SEO</li>
          <li>4 sistemas operacionais</li>
          <li>24h de atendimento</li>
        </ul>
        <a href="#" class="btnPadrao secaoPlanos-plano-btn">
          Assinar plano
        </a>
      </div>

      <div class="secaoPlanos-plano secaoPlanos-plano--mega">
        <h3 class="secaoPlanos-plano-titulo">Mega</h3>
        <h4 class="secaoPlanos-plano-preco">
          R$ 1000
        </h4>
        <ul class="secaoPlanos-plano-itens">
          <li>10 manutenções mensais</li>
          <li>App SEO</li>
          <li>2 sistemas operacionais</li>
        </ul>
        <a href="#" class="btnPadrao secaoPlanos-plano-btn">
          Assinar plano
        </a>
      </div>

    </div> <!--fim .container da .secaoPlanos-->
  </section> <!--fim .secaoPlanos-->